div#huls{
	width: 714px;
	height: 2290px;
	margin: 0 auto;
	background-color: #FFFF00;
}
body{
	font-family: corbel, sans-serive;
}
a{
	text-decoration: none;
	color: #FFFF00;
}
div#top h2 a{
	text-decoration: none;
	color: #000;
}
div#hoofd h1{
	text-indent: -9000px;
}
div#hoofd{
	position: absolute;
	margin-left: 270px;
	margin-top: -45px;
}
div#navigatie{
	width: 430px;
	height: 36px;
	background-color: #000;
	position: absolute;
	left: 420px;
	top: 300px;
    -webkit-box-shadow: 7px 8px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 8px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 8px 5px 0px rgba(0,0,0,0.75);
}
div#navigatie p{
	
	color: #FFFF00;
	float: left;
	font-size: 1.3em;
	position: relative;
	left: 40px;
	margin-right: 71px;
	margin-top: 6px;
}
div#schaar1{
	position: absolute;
	bottom: 50px;
	left: 30px;
}
div#schaar2{
	position: absolute;
	bottom: 50px;
	left: 170px;
}
div#schaar3{
	position: absolute;
	bottom: 50px;
	left: 320px;
}
div#pagina_1{
	position: absolute;
	top: 410px;
	left: 375px;
}
.sprite {
    width: 514px;
    height: 135px;
    background-image: url("../img/sprite.png");
    -webkit-animation: play .999999s steps(3) infinite;
    -moz-animation: play .999999s steps(3) infinite;
    -ms-animation: play .999999s steps(3) infinite;
    -o-animation: play .999999s steps(3) infinite;
    animation: play .999999s steps(3) infinite;
}
@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}
div#pagina_onderdeel_2{
	position: relative;
	bottom: 110px;
	left: 180px;
}
div#pagina_onderdeel_3{
	position: relative;
	bottom: 235px;
	left: 355px;
}
div#tussenstuk_1{
	position: relative;
	top: 575px;
	left: 30px;
}
div#about{
	position: absolute;
	top: 680px;
	left: 580px;
}
div#pagina_2{
	position: absolute;
	top: 1100px;
	left: 100px;
}
div#hoofd_1{
	position: relative;
	left: 20px;
	bottom: 5px;
	width:100px;
	height:100px;
	transition:width 4s, height  4s, transform  4s;
	-webkit-transition:width  4s, height  4s, -webkit-transform  4s;
}
div#hoofd_1:hover{
width:150px;
height:150px;
transform:scale(2);
-webkit-transform:scale(2);
}
div#hoofd_2{
	position: relative;
	left: 210px;
	bottom: 100px;
	width: 128px;
	height: 96px;
}
@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
        }
    to {
        opacity: 0;
        }
    }
@-moz-keyframes fadeOut {
    from {
        opacity: 1;
        }
    to {
        opacity: 0;
        }
    }
@-o-keyframes fadeOut {
    from {
        opacity: 1;
        }
    to {
        opacity: 0;
        }
    }
@keyframes fadeOut {
    from {
        opacity: 1;
        }
    to {
        opacity: 0;
        }
    }
.haar_2_hover:hover {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: fadeOut;
    -moz-animation-name: fadeOut;
    -o-animation-name: fadeOut;
    animation-name: fadeOut;
}

div#hoofd_3{
	position: relative;
	bottom: 50px;
	left: 40px;
}
.rotate1{
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	overflow:hidden;
}	

.rotate1:hover{ 
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg); 
	-o-transform:rotate(360deg);
}
div#hoofd_4{
	position: relative;
	bottom: 135px;
	left: 210px;
}
.rotate2{
	-webkit-transition-duration: 3s;
	-moz-transition-duration: 3s;
	-o-transition-duration: 3s;
	transition-duration: 3s;
	
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	overflow:hidden;
}	
.rotate2:hover{
    -webkit-transform:rotate(-360deg);
	-moz-transform:rotate(-360deg); 
	-o-transform:rotate(-360deg);
}
div#hoofd_5{
	position: relative;
	bottom: 90px;
	left: 40px;
}
@-webkit-keyframes fadeOutInOut{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes fadeOutInOut{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes fadeOutInOut{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOutInOut{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.haar_8_hover:hover{
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: fadeOutInOut;
    -moz-animation-name: fadeOutInOut;
    -o-animation-name: fadeOutInOut;
    animation-name: fadeOutInOut;
}
div#hoofd_6{
	position: relative;
	bottom: 170px;
	left: 225px;
}
.haar_9{
	width: 99px;
	height: 85px;
	
}
@-webkit-keyframes fadeOutInOutSwirl{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
        -webkit-transform: rotateZ(0deg);
    }
    75% {
        opacity: 0.5;
        -webkit-transform: rotateZ(180deg);
    }
    100% {
        opacity: 1.0;
        -webkit-transform: rotateZ(360deg);
    }
}
@-moz-keyframes fadeOutInOutSwirl{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
        -moz-transform: rotateZ(0deg);
    }
    75% {
        opacity: 0.5;
        -moz-transform: rotateZ(180deg);
    }
    100% {
        opacity: 1.0;
        -moz-transform: rotateZ(360deg);
    }
}
@-o-keyframes fadeOutInOutSwirl{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
        -o-transform: rotateZ(0deg);
    }
    75% {
        opacity: 0.5;
        -o-transform: rotateZ(180deg);
    }
    100% {
        opacity: 1.0;
        -o-transform: rotateZ(360deg);
    }
}
@keyframes fadeOutInOutSwirl{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
        transform: rotateZ(0deg);
    }
    75% {
        opacity: 0.5;
        transform: rotateZ(180deg);
    }
    100% {
        opacity: 1.0;
        transform: rotateZ(360deg);
    }
}
.haar_9_hover:hover{
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: fadeOutInOutSwirl;
    -moz-animation-name: fadeOutInOutSwirl;
    -o-animation-name: fadeOutInOutSwirl;
    animation-name: fadeOutInOutSwirl;
}
div#pagina_onderdeel_tekst{
	text-align: center;
	position: relative;
	bottom: 370px;
	left: 235px;
	width: 630px;
}
div#tussenstuk_2{
	position: absolute;
	right: 310px;
	top: 1720px;
} 
div#contact{
	position: absolute;
	top: 1790px;
	left: 570px;
}
.flip3D{
	width: 256px;
	height: 246px;
	/*background-color:red;*/
	position: absolute;
	top: 1950px;
	left: 520px;
	border-radius: 5px;
}
.flip3D{
    width: 236px;
    height: 216px;
    margin: 10px;
    float: left
}
.flip3D .front{
    position: absolute;
    -moz-transform: perspective(600px) rotatey(0deg);
    -ms-transform: perspective(600px) rotatey(0deg);
    -o-transform: perspective(600px) rotatey(0deg);
    -webkit-transform: perspective(600px) rotatey(0deg);
    transform: perspective(600px) rotatey(0deg);
    height: 229px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 1.6s linear 0s;
    -o-transition: -o-transform 1.6s linear 0s;
    -webkit-transition: -webkit-transform 1.6s linear 0s;
    transition: transform 1.6s linear 0s;
    -moz-transition: -moz-transform 1.6s linear 0s;
    -o-transition: -o-transform 1.6s linear 0s;
    -webkit-transition: -webkit-transform 1.6s linear 0s;
    transition: transform 1.6s linear 0s
}
.flip3D .back {
    position: absolute;
    -moz-transform: perspective(600px) rotatey(180deg);
    -ms-transform: perspective(600px) rotatey(180deg);
    -o-transform: perspective(600px) rotatey(180deg);
    -webkit-transform: perspective(600px) rotatey(180deg);
    transform: perspective(600px) rotatey(180deg);
    height: 229px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 1.6s linear 0s;
    -o-transition: -o-transform 1.6s linear 0s;
    -webkit-transition: -webkit-transform 1.6s linear 0s;
    transition: transform 1.6s linear 0s;
    -moz-transition: -moz-transform 1.6s linear 0s;
    -o-transition: -o-transform 1.6s linear 0s;
    -webkit-transition: -webkit-transform 1.6s linear 0s;
    transition: transform 1.6s linear 0s
}
.flip3D:hover > .front{
    -moz-transform: perspective(600px) rotatey(-180deg);
    -ms-transform: perspective(600px) rotatey(-180deg);
    -o-transform: perspective(600px) rotatey(-180deg);
    -webkit-transform: perspective(600px) rotatey(-180deg);
    transform: perspective(600px) rotatey(-180deg)
    }

.flip3D:hover > .back{
    -moz-transform: perspective(600px) rotatey(0deg);
    -ms-transform: perspective(600px) rotatey(0deg);
    -o-transform: perspective(600px) rotatey(0deg);
    -webkit-transform: perspective(600px) rotatey(0deg);
    transform: perspective(600px) rotatey(0deg)
    }
}
div#top {
	position: absolute;
	top: 2100px;
}
div#top img{
	position: relative;
	top: 2065px;
	left: 35px;
}
div#top h2{
	position: relative;
	top: 2185px;
	left: 20px;
}
div#voet{
	position: absolute;
	left: 300px;
	top: 2270px;
}
