div#huls{
	width: 714px; /* Zo smal, zelfs 960px is al te smal voor de huidige schermen. */
	padding-top: 2em; /* Wat ademruimte bovenaan */
	margin: 0 auto;
	background-color: #FFFF00;
}
body{
	font-family: corbel, sans-serive;
	margin: 0; /* Reset */
}
a{
	text-decoration: none;
	color: #FFFF00;
}
div#top h2 a{
	text-decoration: none;
	color: #000;
}
div#hoofd h1{
	text-indent: -9000px;
	display: none; /* Zo zorgen we er voor dat dit geen plaats meer in neemt */
}
div#hoofd{
	/** position: absolute; Waarom? **/
	margin-left: 270px;
	/** margin-top: -45px; Niet nodig, h1 zetten we op display: none; */
}

div#navigatie, div#scharen {
	width: 430px;
	margin: 0 auto;
	overflow: hidden;
}

div#navigatie{
	height: 36px;
	background-color: #000;
    -webkit-box-shadow: 7px 8px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 8px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 8px 5px 0px rgba(0,0,0,0.75);
}

div#navigatie p{
	color: #FFFF00;
	float: left;
	font-size: 1.3em;
	position: relative;
	left: 40px;
	margin-right: 71px;
	margin-top: 6px;
}

div#scharen {
	margin-top: 2em;
}

div#scharen .schaar {
	width: 33%;
	float: left;
	text-align: center;
}

div#schaar1{
	position: absolute;
	bottom: 50px;
	left: 30px;
}
div#schaar2{
	position: absolute;
	bottom: 50px;
	left: 170px;
}
div#schaar3{
	position: absolute;
	bottom: 50px;
	left: 320px;
}
div#pagina_1{
	margin-top: 60px;
}
.sprite {
	margin: 0 auto;
    width: 514px;
    height: 135px;
    background-image: url("../img/sprite.png");
    -webkit-animation: play .999999s steps(3) infinite;
    -moz-animation: play .999999s steps(3) infinite;
    -ms-animation: play .999999s steps(3) infinite;
    -o-animation: play .999999s steps(3) infinite;
    animation: play .999999s steps(3) infinite;
}
@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

div.tussenstuk{
	margin-top: 60px;
	text-align: center;
}
div#about {
	margin-top: 60px;
	text-align: center;
}


div#hoofd_1{
	width:150;
	height:150px;
	transition:width 2s, height  2s, transform  2s;
	-webkit-transition:width  2s, height  2s, -webkit-transform  2s;
}

div#hoofd_1:hover{
	width:150px;
	height:150px;
	transform:scale(1.5);
	-webkit-transform:scale(1.5);
}
div#hoofd_2{
	width: 128px;
	height: 96px;
}
@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
        }
    to {
        opacity: 0;
        }
    }
@-moz-keyframes fadeOut {
    from {
        opacity: 1;
        }
    to {
        opacity: 0;
        }
    }
@-o-keyframes fadeOut {
    from {
        opacity: 1;
        }
    to {
        opacity: 0;
        }
    }
@keyframes fadeOut {
    from {
        opacity: 1;
        }
    to {
        opacity: 0;
        }
    }
.haar_2_hover:hover {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: fadeOut;
    -moz-animation-name: fadeOut;
    -o-animation-name: fadeOut;
    animation-name: fadeOut;
}

div#hoofd_3{

}
.rotate1{
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	overflow:hidden;
}	

.rotate1:hover{ 
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg); 
	-o-transform:rotate(360deg);
}
div#hoofd_4{

}
.rotate2{
	-webkit-transition-duration: 3s;
	-moz-transition-duration: 3s;
	-o-transition-duration: 3s;
	transition-duration: 3s;
	
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	overflow:hidden;
}	
.rotate2:hover{
    -webkit-transform:rotate(-360deg);
	-moz-transform:rotate(-360deg); 
	-o-transform:rotate(-360deg);
}
div#hoofd_5{

}
@-webkit-keyframes fadeOutInOut{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes fadeOutInOut{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes fadeOutInOut{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOutInOut{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.haar_8_hover:hover{
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: fadeOutInOut;
    -moz-animation-name: fadeOutInOut;
    -o-animation-name: fadeOutInOut;
    animation-name: fadeOutInOut;
}

@-webkit-keyframes fadeOutInOutSwirl{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
        -webkit-transform: rotateZ(0deg);
    }
    75% {
        opacity: 0.5;
        -webkit-transform: rotateZ(180deg);
    }
    100% {
        opacity: 1.0;
        -webkit-transform: rotateZ(360deg);
    }
}
@-moz-keyframes fadeOutInOutSwirl{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
        -moz-transform: rotateZ(0deg);
    }
    75% {
        opacity: 0.5;
        -moz-transform: rotateZ(180deg);
    }
    100% {
        opacity: 1.0;
        -moz-transform: rotateZ(360deg);
    }
}
@-o-keyframes fadeOutInOutSwirl{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
        -o-transform: rotateZ(0deg);
    }
    75% {
        opacity: 0.5;
        -o-transform: rotateZ(180deg);
    }
    100% {
        opacity: 1.0;
        -o-transform: rotateZ(360deg);
    }
}
@keyframes fadeOutInOutSwirl{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
        transform: rotateZ(0deg);
    }
    75% {
        opacity: 0.5;
        transform: rotateZ(180deg);
    }
    100% {
        opacity: 1.0;
        transform: rotateZ(360deg);
    }
}
#hoofd_6:hover img{
	transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%; 
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: fadeOutInOutSwirl;
    -moz-animation-name: fadeOutInOutSwirl;
    -o-animation-name: fadeOutInOutSwirl;
    animation-name: fadeOutInOutSwirl;
}

div#hoofden {
	width: 300px;
	margin: 0 auto;
}

div.clear {
	clear: both;
}

div#hoofden div.hoofd {
	float: left;
	width: 150px;
	height: 150px;
	text-align: center;
}
div#pagina_onderdeel_tekst{
	text-align: center;
	width: 630px;
	margin: 0 auto;
}
div#tussenstuk_2{
	position: absolute;
	right: 310px;
	top: 1720px;
} 
div#contact{
	margin-top: 60px;
	text-align: center;
}
.flip3D{
	width: 236px;
	height: 246px;
	margin: 60px auto 0;
	/*background-color:red;*/
	border-radius: 5px;
}

.flip3D .front{
    position: absolute;
    -moz-transform: perspective(600px) rotatey(0deg);
    -ms-transform: perspective(600px) rotatey(0deg);
    -o-transform: perspective(600px) rotatey(0deg);
    -webkit-transform: perspective(600px) rotatey(0deg);
    transform: perspective(600px) rotatey(0deg);
    height: 229px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 1.6s linear 0s;
    -o-transition: -o-transform 1.6s linear 0s;
    -webkit-transition: -webkit-transform 1.6s linear 0s;
    transition: transform 1.6s linear 0s;
    -moz-transition: -moz-transform 1.6s linear 0s;
    -o-transition: -o-transform 1.6s linear 0s;
    -webkit-transition: -webkit-transform 1.6s linear 0s;
    transition: transform 1.6s linear 0s
}
.flip3D .back {
    position: absolute;
    -moz-transform: perspective(600px) rotatey(180deg);
    -ms-transform: perspective(600px) rotatey(180deg);
    -o-transform: perspective(600px) rotatey(180deg);
    -webkit-transform: perspective(600px) rotatey(180deg);
    transform: perspective(600px) rotatey(180deg);
    height: 229px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 1.6s linear 0s;
    -o-transition: -o-transform 1.6s linear 0s;
    -webkit-transition: -webkit-transform 1.6s linear 0s;
    transition: transform 1.6s linear 0s;
    -moz-transition: -moz-transform 1.6s linear 0s;
    -o-transition: -o-transform 1.6s linear 0s;
    -webkit-transition: -webkit-transform 1.6s linear 0s;
    transition: transform 1.6s linear 0s
}
.flip3D:hover > .front{
    -moz-transform: perspective(600px) rotatey(-180deg);
    -ms-transform: perspective(600px) rotatey(-180deg);
    -o-transform: perspective(600px) rotatey(-180deg);
    -webkit-transform: perspective(600px) rotatey(-180deg);
    transform: perspective(600px) rotatey(-180deg)
    }

.flip3D:hover > .back{
    -moz-transform: perspective(600px) rotatey(0deg);
    -ms-transform: perspective(600px) rotatey(0deg);
    -o-transform: perspective(600px) rotatey(0deg);
    -webkit-transform: perspective(600px) rotatey(0deg);
    transform: perspective(600px) rotatey(0deg)
    }
}
div#top {
	text-align: center;
} 
div#top img{
	position: relative;
	text-align: center;
}
div#top h2{
	position: relative;
	text-align: center;
}
div#voet{
	position: absolute;
}
